.card-container {
  width: 60%;
  margin: 0px auto;
}

.card {
  margin-top: 5%;
  border: solid 1px #606671;
}

p.sub-jokes {
  color: rgb(216, 222, 233) !important;
}

.card-svg {
  float: left;
  padding: 10px 0px 0px 10px;
}
